<template>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Tasks</div>

                <div class="panel-body">
                    <ul v-if="tasks" class="list-group">
                        <li v-for="task in tasks"
                            class="list-group-item">
                            {{ task.task }}
                        </li>
                    </ul>
                    <div>
                        <form @submit.prevent="addTask">
                            <div class="input-group" :class="error ? 'has-error' : ''">
                                <input type="text" class="form-control" placeholder="Add Task" v-model="task" @keydown="error = false">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit">Save</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['allTasks'],

        data() {
            return {
                tasks: [],
                task: '',
                error: false
            }
        },

        beforeMount() {
            this.tasks = this.allTasks;
        },

        methods: {
            addTask() {
                if (this.task === '') {
                    this.error = true;
                    return;
                }

                axios.post('/tasks', {task: this.task})
                    .then(response => {
                        this.tasks.push(response.data);
                        this.task = '';
                    })
                    .catch(err => {
                        this.error = true;
                    });
            }
        }
    }
</script>
